hr {
  width: 80%;
  margin: 0 auto;
}

.app-title {
  font-size: xx-large;
  text-align: center;
  margin: 1.5em auto;
}

.app-notice {
  font-size: x-large;
  text-align: center;
  margin: 1.2em auto;
}

.guessed-word-list-table {
  table-layout: auto;
  width: auto;
  margin: 0 auto;
}
